* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
	font-family: "Rubik";
	color: #353535;
	outline: none;
	border: none;
}

img {
	cursor: pointer;
}

@font-face {
	font-family: "Rubik";
	src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

body {
	background-color: #fff;

	margin: 0 auto;
}

h3 {
	margin-bottom: 30px !important;
}

#seven, #eight {
	padding: 100px 0;
}

#four, #five, #seven, #eight, #nine {
	height: auto;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

#one {
	background: url(../img/bgbg.jpg);
}

.top__header {
	display: flex;
	justify-content: center;
	height: 80px;
	width: 100vw;
	position: fixed;
	transition: 0.3s;
	z-index: 100;
}

.top__header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.2s;
}

.top__header .top__header_presentation {
	display: none;
	margin-right: 40px;
}

.top__header_scroll {
	background-color: #5041E4;
	transition: 0.3s;
}

.top__header_scroll .container {
	max-width: 95vw;
	transition: 0.2s;
}

.top__header_scroll .top__header_presentation {
	display: block;
	color: #fff
}

.top_header_logo img {
	width: 80px;
}

.noactive_logo {
	display: none;
}

.active_logo {
	display: block;
}

.top__header_scroll .top__header_menu .ul li {
	color: #fff;
    position:relative;
    list-style-type: none;
    margin: 0 20px;
}

.top__header_scroll .zakaz_top_white {
	border: 2px #fff solid;
	color: #fff;
	font-weight: 500;
	transition: 0.2s
}

.top__header_scroll .zakaz_top_white:hover {
	background-color: #fff;
	color: #6125e0;
}

.top__header_scroll .top__header_phone {
	display: none;
}

.top__header_menu .ul {
	display: flex;
	list-style: none;
}

.top__header_menu .ul a {
	text-decoration: none;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top__header .ul_a {
	position:relative;
    margin: 0 20px;
}

.top__header .ul_a::after {
    margin-bottom: -5px;
    position: absolute;
    bottom: 30px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
	background: #000;
    transition: width .3s;
    right: 14px;
    /* left: initial; */
	margin-left: 10%;
}

.top__header_scroll .ul_a::after {
	background: #fff;
	right: 2px;
}

.top__header .ul_a:hover::after  {
	margin-bottom: -5px;
	width: 80%;
	right:initial;
	left: -14px;
	transition: width .3s;
}

.top__header_scroll .ul_a:hover::after {
	left: 0;
}

.top__header_menu .ul li {
	margin-right: 30px;
}

.top__header_phone {
	font-weight: 500;
	font-size: 21px;
	color: black;
	text-decoration: none;
	margin-right: 40px;
}

.zakaz_top_white {
	padding: 15px 20px;
	background-color: transparent;
	border-radius: 55px;
	border: 1px solid #f53838;
	color: #f53838;
	width: 150px;
	font-size: 16px;
	transition: 0.2s;
}

.zakaz_top_white:hover {
	background-color: #f53838;
	color: #fff;
	font-weight: 500;
}

.slider_inner_left {
	display: flex;
	width: 50%;
	flex-direction: column;
	padding: 50px;
	flex-wrap: wrap;
}

.lider_inner_right {
	width: 50%;
	padding: 50px;
}

.slider_inner_middle {
	display: flex;
	height: 600px;
	align-items: center;
}

.slider_main_header {
	font-size: 38px;
	font-weight: 600;
	padding: 20px 0;
	margin-bottom: 20px;
	line-height: 1.1;
}

#polosa {
	border-right: 1px solid #e5e5e5;
}

.slider_inner_header_small {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 30px;
	line-height: 1.4;
	color: #8b8b8b;
}

.div_buttons_slider {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
}

.zakaz {
	width: 250px;
	background-color: #f53838;
	height: 60px;
	border-radius: 11px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	box-shadow: -1px 40px 30px -15px rgba(255, 0, 0, 0.36);
	transition: 0.2s;
}

.zakaz:hover {
	scale: 0.95;
	box-shadow: -1px 30px 25px -10px rgba(255, 0, 0, 0.36);
	transition: 0.2s;
}

.zakaz_exclusicve {
	width: 250px;
	background-color: #6125e0;
	height: 60px;
	border-radius: 11px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	box-shadow: -1px 40px 30px -15px rgba(106, 46, 255, 0.36);
	transition: 0.2s;
}

.zakaz_exclusicve:hover {
	scale: 0.95;
	box-shadow: -1px 30px 25px -10px rgba(106, 46, 255, 0.36);;
	transition: 0.2s;
}

.pdf_resentation {
	width: 250px;
	background-color: #fff;
	height: 60px;
	border-radius: 11px;
	border: none;
	color: #000;
	font-size: 16px;
	overflow: hidden;
	position: relative;
    transition: all 0.3s ease-in-out;
}

.pdf_resentation:hover {
    border: 2px solid #666;
    background-color: #FFF;
	transition: 0.1s;
    box-shadow:0px 0px 0px 1px #6125e0 inset;
}

.pdf_resentation span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.pdf_resentation:hover span{
    letter-spacing: 1px;
    color: #333;
}

.pdf_resentation:after {
    background: #FFF;
    border: 0px solid #000;
    border-radius: 100%;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.pdf_resentation:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}


.two_inner_buttons {
	padding-top: 40px;
	display: flex;
	align-items: center;
}

.demo_button {
	width: 250px;
	background-color: #fff;
	height: 60px;
	border-radius: 11px;
	border: 1px solid #6f53f8;
	color: #6f53f8;
	font-size: 16px;
	margin-left: 10px;
	overflow: hidden;
	position: relative;
    transition: all 0.3s ease-in-out;
}

.demo_button:hover {
    background-color: #6125e0;
}

.demo_button span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.demo_button:hover span{
    letter-spacing: 1px;
	color: #fff;
	font-weight: 500;
}

.demo_button:after {
    background: #FFF;
    border: 0px solid #000;
    border-radius: 100%;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.demo_button:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}

#two {
	margin-bottom: 100px;
	background: url(../img/back.jpg);

	padding: 100px 0;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
}

#two_inner_block {
	margin: 0 auto;
	max-width: 1440px;
}

#one {
	margin-bottom: 100px;
	background: url(../img/back.jpg);
	padding: 30px 0;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
}

#one_inner_block {
	margin: 0 auto;
	max-width: 1440px;
}
.benefits {
	width: 100%;
	background-color: white;
	height: 220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	-webkit-box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	-moz-box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	margin-bottom: 145px;
}

.benefit {
	width: 25%;
	border-right: 2px solid rgb(243, 243, 243);
	display: flex;
	gap: 20px;
	align-items: center;
	height: 80%;
	padding: 0 30px;
}

.benefit_logo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #FFECEC;
	display: flex;
	justify-content: center;
	align-items: center;
}

.benefit_logo img {
	width: 20px;
	height: 20px;
}

.benefit_text {
	width: 70%;
}

.benefit_text_slogan {
	line-height: 20px;
}

.benefit_text_header {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 10px;
}

.benefit_text_slogan {
	font-size: 13px;
}

.benefit:last-child {
	border-right: none;
}

.header_block {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 30px;
}

.header_block_small {
	text-align: center;
	font-size: 18px;
	color: gray;
	padding-bottom: 30px;
}

.two_inner {
	display: flex;
	flex-wrap: wrap;
}

.two_inner_left, .two_inner_right {
	width: 50%;
	padding: 50px;
	min-width: 600px;
}

.two_inner_right,
.two_inner_left {
	color: #4f5665;
	line-height: 1.7;
}

.ulls {
	list-style: none;
}

.ulls2 {
	list-style: none;
}

.ulls li {
	margin-bottom: 20px;
	position: relative;
	text-align: left;
	line-height: 1.5;
	padding-left: 40px;
}

.ulls2 li {
	margin-bottom: 20px;
	position: relative;
	text-align: left;
	padding-left: 40px;
	margin-left: 50px;
}

.ulls li::before {
	background: url(../img/galka.svg);
	width: 22px;
	content: "";
	position: absolute;
	height: 22px;
	left: 0px;
}

.ulls2 li::before {
	background: url(../img/check.svg);
	width: 22px;
	content: "";
	position: absolute;
	height: 22px;
	top: -4px;
	left: -10px;
}

.tarif_bottom {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.tarif_bottom_biger {
	bottom: 100px;
}

#six {
	background-color: #e6e6e6;
	padding: 100px 0;
}

.biznes_napravlenia {
	list-style: none;
	display: flex;
	padding: 50px;
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1650px;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.biznes_napravlenia li {
	background-color: white;
	padding: 10px 20px;
	width: auto;
	display: flex;
	height: 50px;
	align-items: center;
	border-radius: 50px;
}

.biznes_img {
	width: 40px;
	padding-right: 10px;
}

.tariffs {
	text-align: center;
	width: 100%;
	min-height: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}

.tarif {
	width: 30%;
	padding: 20px 30px;
	gap: 20px;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 15px;
	transition: 0.1s;
	height: 870px;
	position: relative;
}

.tarif:hover {
	border-color: red;
	border-radius: 15px;
	transition: 0.1s;
}

.favorite {
	border: 2px solid red;
}

.tarif_price {
	text-align: center;
	font-size: 28px;
}

.tarif_link {
	margin-top: 20px;
	height: 70px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.videos {
	display: flex;
	max-width: 1440px;
	flex-wrap: wrap;
	justify-content: center;
}

.video {
	display: flex;
	justify-content: center;
	width: 32%;
}

.video img {
	display: flex;
	justify-content: center;
	margin: 0.5%;
}

.video_full {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s;
}

.video_full_active {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

.video_full_close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 70px;
	top: 50px;
	transition: 0.2s;
}

.video_full_close:hover {
	transform: rotate(135deg);
}

.all_testimoials {
	text-decoration: underline;
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 40px;
	display: block;
}
#eleven {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#twelve {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 200px 0 0;
}

#twelve .container {
	text-align: center;
}

#ten {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	max-width: 1440px;
	margin: 0 auto;
}

.testimonials {
	display: flex;
	margin-top: 50px;
	position: relative;
	flex-wrap: wrap;
	min-height: 400px;
	width: 100%;
	justify-content: space-between;
}

.testimonial {
	width: calc(32.2%);
	position: relative;
	min-height: 250px;
	box-shadow: -1px 14px 40px 8px rgb(34 60 80 / 11%);
	height: 250px;
	padding: 30px;
	border-radius: 10px;
}

.raiting {
	position: absolute;
	top: 20px;
	right: 20px;
}

.testimonial_text {
	margin-top: 30px;
	color: #9d9d9d;
}
.testimonial_author {
	font-weight: 500;
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

.top__header_left {
	display: flex;
	align-items: center;
}

.logos {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logos img {
	width: 100px;
} 

.accordion .accordion-item {
	box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	margin-bottom: 34px;
	border-radius: 14px;
}

.accordion button {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 27px 2em;
	color: #7288a2;
	font-size: 2rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
}

.accordion button:hover, .accordion button:focus {
	cursor: pointer;
	color: #03b5d2;
}

.accordion button:hover::after, .accordion button:focus::after {
	cursor: pointer;
	color: #03b5d2;
	border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
	padding: 1em 1.5em 1em 0;
	font-size: 22px;
}

.accordion button .icon {
	position: absolute;
	right: 20px;
	width: 42px;
	top: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	border-radius: 12px;
	background-color: red;
}

.accordion button .icon::before {
	display: block;
	position: absolute;
	content: "";
	top: 20px;
	left: 17px;
	width: 10px;
	color: white;
	height: 2px;
	background: currentColor;
}

.accordion button .icon::after {
	display: block;
	position: absolute;
	content: "";
	top: 16px;
	left: 21px;
	color: white;
	width: 2px;
	height: 10px;
	background: currentColor;
}

.accordion button[aria-expanded="true"] {
	color: #03b5d2;
}

.accordion button[aria-expanded="true"] .icon::after {
	width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
	opacity: 1;
	max-height: 200px;
	transition: all 200ms ease-in-out;
	will-change: opacity, max-height;
}

.accordion .accordion-content {
	opacity: 0;
	max-height: 0;
	padding: 0 20px 0 20px;
	overflow: hidden;
	transition: opacity 200ms linear, max-height 200ms linear;
	will-change: opacity, max-height;
}

.accordion .accordion-content p {
	font-size: 1.7rem;
	font-weight: 300;
	line-height: 1.3;
	margin: 2em 0;
	padding: 0 42px;
	text-align: left;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before, .slick-track:after {
	display: table;
	content: "";
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.prizyv {
	width: 100%;
	height: 300px;
	padding: 40px 90px;
	max-width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 4px 4px 54px -29px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.prizyv_inner {
	width: 76%;
}
.prizyv_header {
	font-size: 38px;
	font-weight: 600;
	line-height: 1.3;
	padding-bottom: 20px;
}

.footer_menu {
	padding: 150px 0 50px 0;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
}

.prizyv_text {
	font-size: 22px;
}

.footer_logo {
	width: 100px;
}

.foooter_menu_left {
	width: 20%;
	flex-direction: column;
}

.foooter_menu_right_block {
	width: 26%;
}

.foooter_menu_right_block ul {
	list-style: none;
}

.foooter_menu_right_block ul li {
	line-height: 2.5;
	font-size: 16px;
}

.foooter_menu_right {
	display: flex;
	padding-left: 200px;
	width: 80%;
	justify-content: space-between;
}

.foooter_menu_left_text {
	margin-top: 20px;
	margin-bottom: 30px;
	color: #a3a3a3;
	font-size: 16px;
}

.foooter_menu_left ul {
	list-style: none;
	padding: 0;
	text-align: left;
	display: flex;
}

footer {
	padding-bottom: 100px;
	background: linear-gradient( 180deg,rgba(255, 255, 255, 0) 57.55%,#b0c3e9 100% );
}

.copyright {
	color: #afb5c0;
}

.shema_raboty {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}

.shema_raboty_item {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 100px;
	height: 300px;
	text-align: center;
	line-height: 1.2;
	font-size: 16px;
	position: relative;
}

.kak_rabotaem {
	max-width: 1440px;
	margin: 0 auto;
}

.icon_shema {
	width: 150px;
	position: relative;
	height: 150px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -1px 24px 50px 18px rgb(34 60 80 / 11%);
	margin-bottom: 20px;
	background-color: #f8f8f8;
}

.number_shema {
	background-color: red;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	border-radius: 50%;
}

.arrow {
	width: 35px;
	height: 35px;
}

#arrow-1 {
	position: absolute;
	transform: rotate(90deg);
	top: 290px;
	left: 165px;
}

#arrow-2 {
	position: absolute;
	transform: rotate(-90deg);
	top: 290px;
	left: 195px;
}

#arrow-3 {
	position: absolute;
	transform: rotate(90deg);
	top: 290px;
	left: 165px;
}

#arrow-4 {
	position: absolute;
	transform: rotate(0deg);
	top: 120px;
	left: 410px;
}

#arrow-5 {
	position: absolute;
	transform: rotate(0deg);
	top: 120px;
	left: 410px;
}

.arrow::before {
	content: "";
	display: block;
	width: 35px;
	height: 5px;
	background-color: #D4D4D4;	
	border-radius: 2px;
}

.arrow::after {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 4px;
	border-bottom: 5px #D4D4D4 solid;
	border-right: 5px #D4D4D4 solid;
	background-color: transparent;
	transform: rotate(-45deg) translate(18.75px, -3px);
}

.slick-slider {
	position: relative;
}

.slick-arrow {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	position: absolute;
	bottom: 100px;
	z-index: 3;
}

.slick-next {
	background-color: #F53838;
	right: 100px;
}

.slick-prev {
	background-color: #fff;
	border: 2px #F53838 solid;
	right: 190px;
}

.slick-dots {
	display: flex;
}

.slick-dots li{
	position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
	background-color: #DDE0E4;	
	border-radius: 50%;
	transition: 0.3s;
}

.slick-dots .slick-active {
	width: 45px;
	border-radius: 10px;
	background-color: #F53838;
	transition: 0.3s;
}

.slick-dots button{
	font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.img__perspective {
	transition: 0.1s;
}

.double_img_container {
	position: relative;
}

.double_img {
	position: absolute;
	width: 550px;
	height: 550px;
	
}

#three {
	margin: 50px 0;
}

#three .container {
	text-align: center;
}

#three .header_block {
	margin-bottom: 40px;
}

#three .slick-next {
	right: -100px;
	bottom: 50%;
	transform: translateY(50%);
}

#three .slick-prev {
	left: -100px;
	bottom: 50%;
	transform: translateY(50%);
}

#three .slider {
	margin: 0 auto;
}

ul {
	padding-left: 0;
}

.calc {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.2s;
}

.calc_active {
	opacity: 1;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
}

.calc_close {
	position: absolute;
	top: 8vh;
	right: 14vw;
	z-index: 9999;
}

.calc__content {
	background-color: #fff;
	width: 75vw;
	height: 90vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.calc__img {
	height: 400px;
	margin-top: 40px;
	margin-left: 100px;
}

.calc__content {
	display: flex;
	flex-wrap: wrap;
}

.calc__content_text {
	margin-left: 150px;
	margin-top: 50px;
	width: 60%;
}

.calc__content_text h3, .calc__content_text h4 {
	font-size: 30px;
	font-weight: 500;
}

.calc__content_text p, .calc__content_text li {
	color: #4F5665;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	position: relative;
	list-style-type: none;
}

.calc__content_text li {
	margin: 10px 0;
	width: 50%;
}

.calc__function ul {
	margin-left: 35px;
	display: flex;
	flex-wrap: wrap;
}

.calc__content_text li::before {
    background: url(../img/check.svg);
    width: 22px;
    content: "";
    position: absolute;
    height: 22px;
	top: 2px;
    left: -40px;
}

.calc__dop_function {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	transform: translateY(-20px);
}

.form-check {
	width: 31%;
	display: flex;
	align-items: center;
	height: 20px;
}

.form-switch .form-check-input {
	width: 45px;
	height: 28px;
}

.form-switch .form-check-input:checked {
	background-color: #4BD963;
	border: 0px;
}

.form-check-label {
	font-size: 14px;
	color: #4F5665;
	font-weight: 400;
	margin-left: 10px;
	margin-top: 7px;
}

.calc__cost {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.calc__cost h5 {
	color: #0B132A;
	font-size: 25px;
	font-weight: 500;
}

.calc__cost button {
	background-color: #30E784;
	border: none;
	border-radius: 10px;
	width: 250px;
	height: 75px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	margin-left: 44px;
	margin-right: 43px;
}

.calc_header {
	margin-left: 105px;
	height: 30px;
}

.calc__bottom {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 10px;
}

.calc__promocode {
	display: flex;
	align-items: center;
}

.calc__promo {
	margin-left: 100px;
	border: 1px #0B132A solid;
	border-radius: 5px;
	padding-left: 10px;
	width: 250px;
	height: 50px;

}

.calc__promo_button {
	border: 1px #30E784 solid;
	background-color: #30E784;
	border: none;
	border-radius: 5px;
	width: 250px;
	height: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	margin-left: 20px;
}

.calc__promo_notification {
	color: #30E784;
	font-size: 18px;
	font-weight: 500;
	margin-left: 20px;
	width: 200px;
	height: 15px;
	letter-spacing: 1.3px;
	overflow: hidden;
}

.humburger {
	width: 45px;
	height: 50px;
	margin-left: 50px;
	padding-top: 3px;
	display: none;
}

.humburger span {
	display: block;
	height: 2px;
	background-color: #000;
	margin: 10px 0;
}

.top__header_scroll .humburger span {
	background-color: #fff;
}

.humburger_1 {
	width: 100%;
}

.humburger_2 {
	width: 75%;
}

.humburger_3 {
	width: 50%;
}

.two_inner_left_mobile {
	display: none;
}

.slider_inner_mobile {
	display: none;
}

@media (max-width: 1400px) {
	.slider_inner_header_small {
		text-align: center;
	}
}

@media (max-width: 1399px){
	.top__header_phone {
		display: block;
	}
	
	.top__header_scroll .top__header_presentation {
		display: block;
	}

	.slider_inner_header_small {
		text-align: left;
	}

	.benefits {
		margin-bottom: 0;
	}

	.pdf_resentation {
		width: 200px;
	}
	
	.benefit {
		text-align: center;
		flex-direction: column;
	}

	.benefit_logo {
		width: 60px;
		height: 60px;
	}

	.benefit_text {
		width: 100%;
	}
	
	#two img {
		width: 500px;
	}

	.two_inner_buttons {
		justify-content: space-between;
	}
	
	.four_bitrix {
		width: 460px
	}
	
	.zakaz {
		width: 200px
	}
	
	.tarif img {
		width: 250px;
	}

	.slider_main_header {
		font-size: 28px
	}

	.ulls2 li {
		margin-left: 35px;
	}

	.tarif_price {
		font-size: 24px
	}

	.tarif_bottom button {
		width: 230px;
	}
	
	.two_inner_left, .two_inner_right {
		min-width: 500px;
	}

	.two_inner_right button {
		width: 200px;
	}

	.shema_raboty_item {
		padding: 0 35px;
	}
	
	#arrow-1 {
		top: 290px;
		left: 135px;
	}
	
	#arrow-2 {
		top: 290px;
		left: 165px;
	}
	
	#arrow-3 {
		top: 290px;
		left: 135px;
	}
	
	#arrow-4 {
		top: 120px;
		left: 360px;
	}
	
	#arrow-5 {
		top: 120px;
		left: 360px;
	}

	.prizyv_header {
		font-size: 28px
	}

	.prizyv_text {
		font-size: 18px 
	}

	.foooter_menu_right_block h3 {
		font-size: 24px;
	}
}

@media (max-width: 1199px){
	.humburger {
		display: block;
	}

	.map {
		width: 80%;
	}
	
	.video__header {
		width: 100%;
	}

	.slider_main_header {
		font-size: 26px;
	}

	.benefit {
		padding: 0 5px;
	}

	#two .two_inner_left {
		display: none;
	}

	#two .two_inner_right {
		width: 100%;
		padding-top: 10px;
		text-align: center;
		line-height: 30px;
		font-size: 18px;
	}

	#two .two_inner_buttons {
		justify-content: center;
	}

	.top__header_menu {
		display: none;
	}

	.zakaz, .pdf_resentation, .demo_button, .zakaz_exclusicve {
		width: 170px;
		height: 55px;
		font-size: 15px;
	}

	.demo_button {
		margin-left: 20px;
	}

	#two {
		padding-bottom: 0px;
	}
	
	.slider_inner_middle {
		justify-content: space-between;
	}

	.slider_inner_left {
		padding-left: 0px;
		padding-right: 0px;
		width: 55%;
	}

	.slider_inner_header_small {
		margin-left: 0px;
	}

	#four .two_inner_left, #five .two_inner_left {
		padding-left: 0;
		
	}

	.two_inner_left, .two_inner_right {
		min-width: 468px;
	}

	.four_bitrix {
		width: 100%;
	}

	#four .two_inner_right, #five .two_inner_right {
		padding-right: 0;
	}

	#five .two_inner_left img {
		width: 100%;
	}

	#five .two_inner_right {
		padding-left: 0px;
		padding-top: 28px;
	}

	.tariffs {
		display: block;
	}

	.tarif {
		width: 100%;
		height: 700px;
		margin: 20px 0;
	}

	.tarif img {
		width: 300px;
	}

	.tarif .ulls2 {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.tarif .ulls2 li {
		width: 43%
	} 

	#eight {
		padding-bottom: 20px;
	}

	#nine .two_inner_left img {
		width: 100%;
		margin-top: 20px;
	}

	#nine .two_inner_right {
		padding-left: 0px;
		padding-right: 0px;
	}

	.kak_rabotaem .slider_inner_header_small {
		text-align: center;
	}

	#arrow-1 {
		top: 290px;
		left: 110px;
	}
	
	#arrow-2 {
		top: 290px;
		left: 140px;
	}
	
	#arrow-3 {
		top: 290px;
		left: 110px;
	}
	
	#arrow-4 {
		top: 120px;
		left: 290px;
	}
	
	#arrow-5 {
		top: 120px;
		left: 290px;
	}

	#ten {
		padding-bottom: 20px;
	}

	#ten .slider_inner_header_small {
		text-align: center;
	}

	.slick-next {
		right: 0px;
	}

	.slick-prev {
		right: 80px;
	}
	
	.video {
		width: 50%;
		margin: 10px 0;
	}

	#twelve {
		padding-top: 90px;
	}

	.accordion button[aria-expanded="true"] + .accordion-content {
		max-height: 250px;
	}

	#twelve .slider_inner_header_small {
		text-align: center;
	}
	
	.prizyv {
		padding-left: 20px;
		padding-right: 20px;
		height: 250px;
	}

	.foooter_menu_right {
		padding-left: 60px;
	}

	.foooter_menu_right_block {
		width: 34%;
	}
}

@media (max-width: 991px){
	#one .slider_inner_right {
		display: none;
	}

	#one .slider_inner_mobile {
		display: flex;
		justify-content: center;
		margin-top: 80px;
	}

	#one .slider_inner_mobile img  {
		width: 80%;
	}

	#one .slider_inner_middle {
		flex-direction: column;
		height: 770px;
	}

	#one .slider_inner_left {
		width: 100%;
		text-align: center;
		padding-top: 0;
		margin-bottom: 50px;
	}

	#one .slider_inner_header_small {
		text-align: center;
		margin: 0 auto;
	}

	#one .div_buttons_slider {
		margin: 0 auto;
	}

	.slider_inner_middle {
		height: 500px;
	}

	.benefits {
		flex-wrap: wrap;
		height: 409px;
		padding: 5px 0;
	}

	.benefit {
		width: 50%;
		height: 38%;
		padding: 0 30px;
		border: none;
	}

	.two_inner {
		flex-direction: row;
		justify-content: center;
	}

	#four .two_inner_left {
		text-align: center;
		padding: 30px 40px;
		width: 100%;
		padding-bottom: 0px;
	}

	#four .slider_inner_header_small, #five .slider_inner_header_small {
		text-align: center;
		margin-bottom: 10px;
	}

	#four .two_inner_right, #five .two_inner_right {
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-left: 0px;
	}

	.four_bitrix {
		width: 80%;
	}

	.two_inner_left_mobile {
		display: block;
	}

	#five .two_inner_left {
		display: none;
	}

	#five .two_inner_right {
		padding: 30px 40px;
	}

	#five {
		padding-bottom: 50px;
	}	

	.biznes_napravlenia {
		padding-left: 0px;
		padding-right: 0px;
	}

	#polosa {
		border: none;
	}

	#seven .two_inner_left, #seven .two_inner_right {
		width: 100%;
		text-align: center;
	}

	#seven .slider_inner_header_small {
		text-align: center;
	}

	.zakaz, .pdf_resentation, .demo_button, .zakaz_exclusicve {
		width: 230px;
		height: 65px;
		font-size: 18px;
	}

	.arrow {
		display: none;
	}

	.icon_shema {
		width: 120px;
		height: 120px;
	}

	.icon_shema img {
		width: 50px;
	}

	.icon_shema span {
		width: 30px;
		height: 30px;
		font-size: 15px;
	}

	.shema_raboty_item {
		padding-left: 0;
		padding-right: 0;
		height: 270px;
	}

	.shema_raboty {
		gap: 0;
	}

	#ten .slick-slide {
		height: 230px;
	}

	.video {
		margin: 0;
	}

	.video img {
		scale: 0.8
	}

	.accordion button[aria-expanded="true"] + .accordion-content {
		max-height: 260px
	}

	.prizyv {
		display: none;
	}

	.footer_menu {
		padding-top: 20px;
	}
	
	footer {
		padding-bottom: 0;
	}

	.footer_menu {
		display: block;
		text-align: center;
	}

	.foooter_menu_left {
		width: 100%;
	}

	.foooter_menu_left ul {
		justify-content: center;
		margin: 0;
	}

	.foooter_menu_left_text {
		margin-bottom: 20px;
	}

	.foooter_menu_right {
		flex-direction: column;
		justify-content: center;
		padding: 0;
		width: 100%;
		margin-top: 40px;
	}

	.foooter_menu_right_block h3 {
		margin-bottom: 20px !important;
	}

	.foooter_menu_right_block {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.zakaz_top_white {
		display: none;
	}

	.top__header_phone {
		font-size: 16px;
	}

	.top__header {
		width: 100%;
	}
}

@media (max-width: 576px) {
	
}

@media (max-width: 1350px) {
	#three .slick-next {
		right: 50px;
		bottom: -13%;
	}
	
	#three .slick-prev {
		left: 50px;
		bottom: -13%;
	}
}