* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
	font-family: "Rubik";
	color: #353535;
	outline: none;
	border: none;
}

img {
	cursor: pointer;
}

@font-face {
	font-family: "Rubik";
	src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

body {
	background-color: #fff;

	margin: 0 auto;
}

h3 {
	margin-bottom: 30px !important;
}

#seven, #eight {
	padding: 100px 0;
}

#four, #five, #seven, #eight, #nine {
	height: auto;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

#one {
	background: url(../img/bgbg.jpg);
}

.top__header {
	display: flex;
	justify-content: center;
	height: 80px;
	width: 100vw;
	position: fixed;
	transition: 0.3s;
	z-index: 100;
}

.top__header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.2s;
}

.top__header .top__header_presentation {
	display: none;
	margin-right: 40px;
}

.top__header_scroll {
	background-color: #5041E4;
	transition: 0.3s;
}

.top__header_scroll .container {
	max-width: 95vw;
	transition: 0.2s;
}

.top__header_left {
	display: flex;
	align-items: center;
}

.top__header_scroll .top__header_presentation {
	display: block;
	color: #fff
}

.top_header_logo img {
	width: 80px;
}

.noactive_logo {
	display: none;
}

.active_logo {
	display: block;
}

.top__header_scroll .top__header_menu .ul li {
	color: #fff;
    position:relative;
    list-style-type: none;
    margin: 0 20px;
}

.top__header_scroll .zakaz_top_white {
	border: 2px #fff solid;
	color: #fff;
	font-weight: 500;
	transition: 0.2s
}

.top__header_scroll .zakaz_top_white:hover {
	background-color: #fff;
	color: #6125e0;
}

.top__header_scroll .top__header_phone {
	display: none;
}

.top__header_menu .ul {
	display: flex;
	list-style: none;
}

.top__header_menu .ul a {
	text-decoration: none;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ul_a {
	position:relative;
    margin: 0 20px;
}

.ul_a::after {
    margin-bottom: -5px;
    position: absolute;
    bottom: 30px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    right:0;
    left: initial;
	margin-left: 10%;
}

.ul_a:hover::after  {
	margin-bottom: -5px;
	width: 80%;
	right:initial;
	left: 0;
	transition: width .3s;
}

.top__header_menu .ul li {
	margin-right: 30px;
}

.top__header_phone {
	font-weight: 500;
	font-size: 21px;
	color: black;
	text-decoration: none;
}

.zakaz_top_white {
	padding: 15px 20px;
	background-color: transparent;
	border-radius: 55px;
	border: 1px solid #f53838;
	color: #f53838;
	width: 150px;
	font-size: 16px;
	transition: 0.2s;
}

.zakaz_top_white:hover {
	background-color: #f53838;
	color: #fff;
	font-weight: 500;
}

.slider_inner_left {
	display: flex;
	width: 50%;
	flex-direction: column;
	padding: 50px;
	flex-wrap: wrap;
}

.lider_inner_right {
	width: 50%;
	padding: 50px;
}

.slider_inner_middle {
	display: flex;
	height: 600px;
	align-items: center;
}

.slider_main_header {
	font-size: 38px;
	font-weight: 600;
	padding: 20px 0;
	margin-bottom: 20px;
	line-height: 1.1;
}

#polosa {
	border-right: 1px solid #e5e5e5;
}

.slider_inner_header_small {
	width: 555px;
	margin: 0 auto;
	padding-bottom: 30px;
	text-align: center;
	line-height: 1.4;
	color: #8b8b8b;
}
.div_buttons_slider {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
}

.zakaz {
	width: 250px;
	background-color: #f53838;
	height: 60px;
	border-radius: 11px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	box-shadow: -1px 40px 30px -15px rgba(255, 0, 0, 0.36);
	transition: 0.2s;
}

.zakaz:hover {
	scale: 0.95;
	box-shadow: -1px 30px 25px -10px rgba(255, 0, 0, 0.36);
	transition: 0.2s;
}

.zakaz_exclusicve {
	width: 250px;
	background-color: #6125e0;
	height: 60px;
	border-radius: 11px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	box-shadow: -1px 40px 30px -15px rgba(106, 46, 255, 0.36);
	transition: 0.2s;
}

.zakaz_exclusicve:hover {
	scale: 0.95;
	box-shadow: -1px 30px 25px -10px rgba(106, 46, 255, 0.36);;
	transition: 0.2s;
}

.pdf_resentation {
	width: 250px;
	background-color: #fff;
	height: 50px;
	border-radius: 11px;
	border: none;
	color: #000;
	font-size: 16px;
	overflow: hidden;
	position: relative;
    transition: all 0.3s ease-in-out;
}

.pdf_resentation:hover {
    border: 2px solid #666;
    background-color: #FFF;
	transition: 0.1s;
    box-shadow:0px 0px 0px 1px #6125e0 inset;
}

.pdf_resentation span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.pdf_resentation:hover span{
    letter-spacing: 1px;
    color: #333;
}

.pdf_resentation:after {
    background: #FFF;
    border: 0px solid #000;
    border-radius: 100%;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
}

.pdf_resentation:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}


.two_inner_buttons {
	padding-top: 40px;
	display: flex;
	align-items: center;
}

.demo_button {
	width: 250px;
	background-color: #fff;
	height: 60px;
	border-radius: 11px;
	border: 1px solid #6f53f8;
	color: #6f53f8;
	font-size: 16px;
	margin-left: 10px;
	overflow: hidden;
	position: relative;
    transition: all 0.3s ease-in-out;
}

.demo_button:hover {
    background-color: #6125e0;
}

.demo_button span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.demo_button:hover span{
    letter-spacing: 1px;
	color: #fff;
	font-weight: 500;
}

.demo_button:after {
    background: #FFF;
    border: 0px solid #000;
    border-radius: 100%;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
}

.demo_button:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}

#two {
	margin-bottom: 100px;
	background: url(../img/back.jpg);

	padding: 100px 0;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
}

#two_inner_block {
	margin: 0 auto;
	max-width: 1440px;
}

#one {
	margin-bottom: 100px;
	background: url(../img/back.jpg);
	padding: 30px 0;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
}

#one_inner_block {
	margin: 0 auto;
	max-width: 1440px;
}
.benefits {
	width: 100%;
	background-color: white;
	height: 220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	-webkit-box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	-moz-box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	margin-bottom: 145px;
}

.benefit {
	width: 25%;
	border-right: 2px solid rgb(243, 243, 243);
	display: flex;
	gap: 20px;
	align-items: center;
	height: 80%;
	padding: 0 30px;
}

.benefit_logo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #FFECEC;
	display: flex;
	justify-content: center;
	align-items: center;
}

.benefit_logo img {
	width: 20px;
	height: 20px;
}

.benefit_text {
	width: 70%;
}

.benefit_text_slogan {
	line-height: 20px;
}

.benefit_text_header {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 10px;
}

.benefit_text_slogan {
	font-size: 13px;
}

.benefit:last-child {
	border-right: none;
}

.header_block {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 30px;
}

.header_block_small {
	text-align: center;
	font-size: 18px;
	color: gray;
	padding-bottom: 30px;
}

.two_inner {
	display: flex;
	flex-wrap: wrap;
}

.two_inner_left, .two_inner_right {
	width: 50%;
	padding: 50px;
	min-width: 600px;
}

.two_inner_right,
.two_inner_left {
	color: #4f5665;
	line-height: 1.7;
}

.ulls {
	list-style: none;
}

.ulls2 {
	list-style: none;
}

.ulls li {
	margin-bottom: 20px;
	position: relative;
	text-align: left;
	line-height: 1.5;
	padding-left: 40px;
}

.ulls2 li {
	margin-bottom: 20px;
	position: relative;
	text-align: left;
	padding-left: 40px;
	margin-left: 50px;
}

.ulls li::before {
	background: url(../img/galka.svg);
	width: 22px;
	content: "";
	position: absolute;
	height: 22px;
	left: 0px;
}

.ulls2 li::before {
	background: url(../img/check.svg);
	width: 22px;
	content: "";
	position: absolute;
	height: 22px;
	top: -4px;
	left: -10px;
}

.tarif_bottom {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.tarif_bottom_biger {
	bottom: 100px;
}

#six {
	background-color: #e6e6e6;
	padding: 100px 0;
}

.biznes_napravlenia {
	list-style: none;
	display: flex;
	padding: 50px;
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1650px;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.biznes_napravlenia li {
	background-color: white;
	padding: 10px 20px;
	width: auto;
	display: flex;
	height: 50px;
	align-items: center;
	border-radius: 50px;
}

.biznes_img {
	width: 40px;
	padding-right: 10px;
}

.tariffs {
	text-align: center;
	width: 100%;
	min-height: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}

.tarif {
	width: 30%;
	padding: 20px 30px;
	gap: 20px;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 15px;
	transition: 0.1s;
	height: 870px;
	position: relative;
}

.tarif:hover {
	border-color: red;
	border-radius: 15px;
	transition: 0.1s;
}

.favorite {
	border: 2px solid red;
}

.tarif_price {
	text-align: center;
	font-size: 28px;
}

.tarif_link {
	margin-top: 20px;
	height: 70px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.videos {
	display: flex;
	max-width: 1440px;
	flex-wrap: wrap;
	justify-content: center;
}

.video {
	display: flex;
	justify-content: center;
	width: 32%;
}

.video img {
	display: flex;
	justify-content: center;
	margin: 0.5%;
}

.video_full {
	width: 0vw;
	height: 0vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	/* display: none; */
	z-index: 999;
	transition: 0.3s;
	overflow: hidden;
}

.video_full_active {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	transform: translate(0, 0);
}

.video_full_close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 70px;
	top: 50px;
	transition: 0.2s;
}

.video_full_close:hover {
	transform: rotate(135deg);
}

.all_testimoials {
	text-decoration: underline;
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 40px;
}
#eleven {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#twelve {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 200px 0 0;
}

#twelve .container {
	text-align: center;
}

#ten {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
	max-width: 1440px;
	margin: 0 auto;
}

.testimonials {
	display: flex;
	margin-top: 50px;
	position: relative;
	flex-wrap: wrap;
	min-height: 400px;
	width: 100%;
	justify-content: space-between;
}

.testimonial {
	width: calc(32.2%);
	position: relative;
	min-height: 250px;
	box-shadow: -1px 14px 40px 8px rgb(34 60 80 / 11%);
	height: 250px;
	padding: 30px;
	border-radius: 10px;
}

.raiting {
	position: absolute;
	top: 20px;
	right: 20px;
}

.testimonial_text {
	margin-top: 30px;
	color: #9d9d9d;
}
.testimonial_author {
	font-weight: 500;
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
}

.logos {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logos img {
	width: 100px;
} 

.accordion .accordion-item {
	box-shadow: -1px 24px 50px 18px rgba(34, 60, 80, 0.11);
	margin-bottom: 34px;
	border-radius: 14px;
}

.accordion button {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 27px 2em;
	color: #7288a2;
	font-size: 2rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;
}

.accordion button:hover, .accordion button:focus {
	cursor: pointer;
	color: #03b5d2;
}

.accordion button:hover::after, .accordion button:focus::after {
	cursor: pointer;
	color: #03b5d2;
	border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
	padding: 1em 1.5em 1em 0;
	font-size: 22px;
}

.accordion button .icon {
	position: absolute;
	right: 20px;
	width: 42px;
	top: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	border-radius: 12px;
	background-color: red;
}

.accordion button .icon::before {
	display: block;
	position: absolute;
	content: "";
	top: 20px;
	left: 17px;
	width: 10px;
	color: white;
	height: 2px;
	background: currentColor;
}

.accordion button .icon::after {
	display: block;
	position: absolute;
	content: "";
	top: 16px;
	left: 21px;
	color: white;
	width: 2px;
	height: 10px;
	background: currentColor;
}

.accordion button[aria-expanded="true"] {
	color: #03b5d2;
}

.accordion button[aria-expanded="true"] .icon::after {
	width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
	opacity: 1;
	max-height: 200px;
	transition: all 200ms ease-in-out;
	will-change: opacity, max-height;
}

.accordion .accordion-content {
	opacity: 0;
	max-height: 0;
	padding: 0 20px 0 20px;
	overflow: hidden;
	transition: opacity 200ms linear, max-height 200ms linear;
	will-change: opacity, max-height;
}

.accordion .accordion-content p {
	font-size: 1.7rem;
	font-weight: 300;
	line-height: 1.3;
	margin: 2em 0;
	padding: 0 42px;
	text-align: left;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before, .slick-track:after {
	display: table;
	content: "";
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.prizyv {
	width: 100%;
	height: 300px;
	padding: 40px 90px;
	max-width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 4px 4px 54px -29px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.prizyv_inner {
	width: 76%;
}
.prizyv_header {
	font-size: 38px;
	font-weight: 600;
	line-height: 1.3;
	padding-bottom: 20px;
}

.footer_menu {
	padding: 150px 0 50px 0;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
}

.prizyv_text {
	font-size: 22px;
}

.footer_logo {
	width: 100px;
}

.foooter_menu_left {
	width: 20%;
	flex-direction: column;
}

.foooter_menu_right_block {
	width: 26%;
}

.foooter_menu_right_block ul {
	list-style: none;
}

.foooter_menu_right_block ul li {
	line-height: 2.5;
	font-size: 16px;
}

.foooter_menu_right {
	display: flex;
	padding-left: 200px;
	width: 80%;
	justify-content: space-between;
}

.foooter_menu_left_text {
	margin-top: 20px;
	margin-bottom: 30px;
	color: #a3a3a3;
	font-size: 16px;
}

.foooter_menu_left ul {
	list-style: none;
	display: flex;
}

footer {
	padding-bottom: 100px;
	background: linear-gradient( 180deg,rgba(255, 255, 255, 0) 57.55%,#b0c3e9 100% );
}

.copyright {
	color: #afb5c0;
}

.shema_raboty {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}

.shema_raboty_item {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 100px;
	height: 300px;
	text-align: center;
	line-height: 1.2;
	font-size: 16px;
	position: relative;
}

.kak_rabotaem {
	max-width: 1440px;
	margin: 0 auto;
}

.icon_shema {
	width: 150px;
	position: relative;
	height: 150px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -1px 24px 50px 18px rgb(34 60 80 / 11%);
	margin-bottom: 20px;
	background-color: #f8f8f8;
}

.number_shema {
	background-color: red;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	border-radius: 50%;
}

.arrow {
	width: 35px;
	height: 35px;
}

#arrow-1 {
	position: absolute;
	transform: rotate(90deg);
	top: 290px;
	left: 185px;
}

#arrow-2 {
	position: absolute;
	transform: rotate(-90deg);
	top: 290px;
	left: 215px;
}

#arrow-3 {
	position: absolute;
	transform: rotate(90deg);
	top: 290px;
	left: 185px;
}

#arrow-4 {
	position: absolute;
	transform: rotate(0deg);
	top: 120px;
	left: 450px;
}

#arrow-5 {
	position: absolute;
	transform: rotate(0deg);
	top: 120px;
	left: 450px;
}

.arrow::before {
	content: "";
	display: block;
	width: 35px;
	height: 5px;
	background-color: #D4D4D4;	
	border-radius: 2px;
}

.arrow::after {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 4px;
	border-bottom: 5px #D4D4D4 solid;
	border-right: 5px #D4D4D4 solid;
	background-color: transparent;
	transform: rotate(-45deg) translate(18.75px, -3px);
}

.slick-slider {
	position: relative;
}

.slick-arrow {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	position: absolute;
	bottom: 100px;
	z-index: 3;
}

.slick-next {
	background-color: #F53838;
	right: 100px;
}

.slick-prev {
	background-color: #fff;
	border: 2px #F53838 solid;
	right: 190px;
}

.slick-dots {
	display: flex;
}

.slick-dots li{
	position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
	background-color: #DDE0E4;	
	border-radius: 50%;
	transition: 0.3s;
}

.slick-dots .slick-active {
	width: 45px;
	border-radius: 10px;
	background-color: #F53838;
	transition: 0.3s;
}

.slick-dots button{
	font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.img__perspective {
	transition: 0.1s;
}

.double_img_container {
	position: relative;
}

.double_img {
	position: absolute;
	width: 550px;
	height: 550px;
	
}

#three {
	margin: 50px 0;
}

#three .header_block {
	margin-bottom: 40px;
}

#three .slick-next {
	right: -100px;
	bottom: 50%;
	transform: translateY(50%);
}

#three .slick-prev {
	left: -100px;
	bottom: 50%;
	transform: translateY(50%);
}